@page
@using WebApplication2.Entity;
@using WebApplication2.Service;
@model WebApplication2.Pages.Category.IndexModel
@{
    string keySearch = "";
    string search = "";
    List<Category> categorys = CategoryService.getAllCategory();

    if (Request.Method == "POST")
    {
        search = Request.Form["keySearch"];
        categorys = CategoryService.getCategoryBySearchName(search);
    }
}


<h1>Categorys List</h1>
<div>
    <a href="/Category/AddCategory"> Add </a>

    <form method="post">
        <input type="text" name="keySearch" value="@keySearch" />
        <input type="submit" value="Search">
    </form>
</div>
@if (categorys != null && categorys.Count > 0)
{
        <div>
            <table>
                <tr>
                    <th>Code</th>
                    <th>Type Description</th>
                </tr>

            @foreach (var item in categorys)
            {
                        <tr>
                            <td>@item.typeCd</td>
                            <td>@item.typeDesc</td>
                            <td>
                                <a href="/Category/UpdateCategory?typeCd=@item.typeCd">Edit</a> 
                                <a href="/Category/DeleteCategory?typeCd=@item.typeCd">Delete</a>
                            </td>
                        </tr>
            }
            </table>
        </div>
}
